@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('../fonts/NanumMyeongjo-Bold.ttf'), url('../fonts/NanumMyeongjo-ExtraBold.ttf'), url('../fonts/NanumMyeongjo-Regular.ttf');
}
html {
  background-color: #f0f0f0;
  border-radius: 0;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  margin:0;
  padding:0;
}

.title-container {
  position: relative;
  text-align: center;
  padding: 15px 0px;
  transition: all 2s linear;
}
.title-container:before{
  content: "";
  position: absolute;
  background: #060606;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
}
.title-container:hover:before{
  top:0;
}

.title {
  font-size: 35px;
  line-height: 45px;
  display: inline-block;
  margin: 0px 6px;
}

.input-container{
  position: relative;
  padding: 8px;
  border-bottom:1px solid #606060;
  border-top:1px solid #606060;
  border-radius: 4px;
}
.input-container:before{
  content: "";
  position: absolute;
  background: #060606;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}
.input-container:hover:before{
  top:0;
}

.time-inputer {
  border: 1px solid #606060;
  height:30px;
  width: 130px;
  font-size: 20px;
  outline: none;
  border-radius:4px;
}

.btn-container {
  display:flex;
  justify-content: flex-end;
  margin-top: 6px;
  margin-bottom:4px;
}

.button {
  position: relative;
  cursor: pointer;
  font-size:15px;
  width: 35px;
  height: 22.5px;
  box-sizing: border-box;
  border: 1px solid #606060;
  padding: 2px;
  margin-right:5px;
  border-radius: 4px;
  transition: all 0.08s ease-in;
}
.button:hover {
  color:#fff;
}
.button:before {
  content: "";
  position: absolute;
  background: #060606;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}
.button:hover:before{
  top:0;
}