.button {
  width:40px;
  height:40px;
}

h1 {
  height: 24px;
  width: 137px;
  margin: 0px 6px;
}

.soom{
  width: 40px;
  margin-left: 6px;
  margin-top: 3px;
}

.bubble{
  background-image: url('./extensionImage/bubble.png');
  float:right;
  text-align: center;
  width: 84px;
  opacity: 0;
  padding: 12px 1px 12px 12px;
  margin-top: 5px;
}

.soom:hover + .bubble{
  opacity: 1;
}
