body {
  margin-bottom:6px;
}
.button {
  width:35px;
  height:35px;
  margin-right:3px;
  border:1px solid transparent;
}

.button:hover {
  border:1px solid black;
}

h1 {
  height: 24px;
  width: 137px;
  margin: 0px 6px;
}

.soom{
  width: 40px;
  margin-left: 6px;
  margin-top: 3px;
}

.bubble{
  background-image: url('./extensionImage/bubble.png');
  float:right;
  text-align: center;
  width: 84px;
  opacity: 0;
  padding: 12px 1px 12px 12px;
  margin-top: 5px;
}

.soom:hover + .bubble{
  opacity: 1;
}

#time {
  margin-top:3px;
  width:143px;
}

.btn-container {
  position:relative;
  left: 69.2px;
  margin-top: 4px;
}