body {
  margin:0;
  padding:0;
}
.title-container {
  text-align: center;
  border-bottom: 1px solid #060606;
}

.button {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  border: 1px solid transparent;
}

.button:hover {
  border: 1px solid #060606;
  border-radius: 4px;
}

.title {
  font-size: 25px;
  display: inline-block;
  margin: 0px 6px;
}

.explane-container {
  margin: 2px 6px;
}

.soom {
  width: 40px;
}

.bubble {
  background-image: url(./extensionImage/bubble.png);
  float: right;
  width: 84px;
  height: 35px;
  background-size: 84px;
  box-sizing: border-box;
  padding: 9px 0px 0px 25px;
  opacity: 0;
}

.soom:hover+.bubble {
  opacity: 1;
}

#time {
  margin-top: 3px;
  width: 143px;
}

.btn-container {
  position: relative;
  left: 69.2px;
  margin-top: 4px;
}