.button {
  width:40px;
  height:40px;
}

h1 {
  height: 24px;
  width: 137px;
  margin: 0px 6px;
}

.soom{
  width: 40px;
  margin-left: 6px;
  margin-top: 3px;
}

.bubble{
  width: 84px;
  opacity: 0;
}

.soom:hover + .bubble{
  opacity: 1;
}