body{
    margin: 14px;
    width: 200px;
    height: 100px;
    padding: 0px;
  }
  input{
    width: 65px;
    height: 24px;
    font-size: 12px;
    margin-right: 25px;
    margin-bottom: 0px;
  }
  h1{
    margin-top:0px;
    margin-bottom:0px;
  }
  div.event{
    height:72px;
    width:200px;
    margin: 0 auto
  }
  .button {
    width: 41px;
    margin-left: 6px;
  }
  .button:hover {
    outline: rgb(125, 171, 255) 
  }
  #manual {
    position: relative;
    top: 7px;
  }
  #startButton {
    position: relative;
  }
  #clearButton {
    position: relative;
  }
  #time {
    position: relative;
    bottom: 8.5px
  }
  .button:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
  }